HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

!**/src/main/**/bin/
!**/src/test/**/bin/
out/
!**/src/main/**/out/
!**/src/test/**/out/
.vscode/
*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
*.PNG 
src/main/resources/garbage_classifier/
src/main/resources/application.properties
