HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

!**/src/main/**/bin/
!**/src/test/**/bin/
out/
!**/src/main/**/out/
!**/src/test/**/out/
.vscode/ 
src/main/resources/garbage_classifier/
src/main/resources/application.properties
src/main/resources/garbagecollector-1055b-firebase-adminsdk-o8vcg-6c7c381787.json
