<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title> HTML 기본 구조 </title>
        <style>
            .container{
                display: flex;
                max-width: 100vw;
                max-height: 100vh;
                justify-content: center;
                align-items: center;
            }

            .element{
                width:400px;
                height:640px;
                margin-left: 10px;
                margin-right: 10px;
            }
            
        </style>
    </head>
    <body>
        <div style="width: 80vw; display: flex; justify-content: center; align-items: center;">
            <h1>놀랍게도 동일인물</h1>
        </div>
        <div class="container">
            <img class="element" src="/IMG_1.jpg">
            <img class="element" src="/IMG_44.jpg">
        </div>
        
    </body>
</html>